apiVersion: v1
kind: Service
metadata:
    name: resources-service
    namespace: k8s-program
spec:
    type: NodePort
    selector:
        app: resources-service
    ports:
        - port: 8080
          targetPort: 8080
          nodePort: 30001