apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.resources.service.name }}
  namespace: {{ .Values.global.namespace }}
spec:
  ports:
    - port: {{ .Values.resources.service.port }}
      targetPort: {{ .Values.resources.service.containerPort }}
  selector:
    app: {{ .Values.resources.service.name }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.songs.service.name }}
  namespace: {{ .Values.global.namespace }}
spec:
  ports:
    - port: {{ .Values.songs.service.port }}
      targetPort: {{ .Values.songs.service.containerPort }}
  selector:
    app: {{ .Values.songs.service.name }}